
/* 
    Created on : Nov 12, 2017, 4:50:21 PM
    Author     : jessi
*/

.card{
    background: gray;
    margin-left: 40%;
}

.gallery {
    width:300px; 
    height:400px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    display: inline-block;
}
.camera{
    width: 100px;
    height: 100px;
    display: inline-block;
}